<div class="article-container">
  <header>
    <h1>Bill Gates</h1>
  </header>

  <app-biography></app-biography>

  <app-quotes></app-quotes>
  <div class="add-quote">
    <label for="newQuote">Add a new quote:</label>
    <input id="newQuote" [(ngModel)]="newQuote" placeholder="Add a new quote" />
    <button (click)="addQuote()">Add Quote</button>
  </div>

  <app-resources></app-resources>
  <div class="add-resource">
    <label>Add a new resource:</label>
    <input [(ngModel)]="newResourceName" placeholder="Resource Name" />
    <input [(ngModel)]="newResourceUrl" placeholder="Resource URL" />
    <button (click)="addResource()">Add Resource</button>
  </div>
</div>
